@import "partials/settings";
@import "../bower_components/foundation/scss/foundation.scss";
@import "http://fonts.googleapis.com/css?family=Press+Start+2P:400.css";
@import "http://fonts.googleapis.com/css?family=Rock+Salt:400.css";

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin button-style() {
  background-color: #000;
  color: #FFF;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 5px auto;
  width: 10%;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px #d3d3d3;
  font-weight: bold;
}

@mixin game-font($font-size) {
  font-family: 'Press Start 2P', cursive;
  font-size: $font-size;
}

@mixin location-position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin black-border() {
  border: 3px solid #000;
  margin: 20px;
}

body {
  #content {
    #title_screen {
      text-align: center;
      position: fixed;
      display: block;
      top: 40%;
      width: 100%;
      h1 {
        display: none;
        font-size: 2em;
        font-family: 'Rock Salt', cursive;
        margin-bottom: 50px;
      }
      button {
        @include button-style;
      }
    }
    #game_screen {
      visibility: hidden;
      #player_window{
        @include black-border;
        @include size(20%, 600px);
        #player_info{
          padding-top: 10px;
          @include game-font(13px);
          #_name {
            display:inline;
          }
          #_level {
            display:inline;
            margin-left: 150px;
          }
          #_health {
            display: block;
          }
          #_exp {
            display: block;
          }
          #_image {
            margin: 150px auto;
            text-align: center;
            img {
              height: 300px;
            }
          }
        }
        #player_equipment{
          // #_head{
          //   padding-left:6%;  
          // }
          // #_torso{
          //   padding-top:3%;
          //   padding-left:10%;
          //   padding-bottom:4%;
          // }
          // #_righthand{
          //   display:inline;
          //   padding-right:6%;
          //   padding-left:5%;
          // }
          // #_lefthand{
          //   padding-right:6%;
          //   display:inline;
            
          // }
          // #_legs{
          //   padding-top:3%;
          // }
          // #_feet{
          //   padding-top:2%;
          //   padding-left:6%;
          // }
        }
      }
      #inventory_window {
        overflow-y: scroll;
        @include black-border;
        @include size(20%, 300px);
        @include game-font(13px);
        ul {
          list-style-type: none;
          li {
            @include game-font(15px);
          } 
        }
      }
      #game_window {
        position: relative;
        text-align: center;
        @include black-border;
        @include size(75%, 600px);
        #map {
          p {
            margin-top: 3px;
            @include game-font(11px)
          }
          .map {
            margin-top: 20px;
            @include size(100%, 550px);
          }
          #subway_tunnel {
            @include location-position(60%, 35%);
            @include size(150px, 100px);
          }
          #unknown_tunnel {
            @include location-position(60%, 60%);
            @include size(150px, 100px);
          }
          #subway_entrance {
            @include location-position(25%, 25%);
            @include size(150px, 100px);
          }
          #my_house {
            @include location-position(30%, 70%);
            @include size(150px, 100px);
          }
          #temple {
            @include location-position(15%, 45%);
            @include size(250px, 100px);
          }
        }
        #battle_window {
          visibility: hidden;
          #player_image {
            position: absolute;
            margin-top: 15%;
            background-image: url(../images/tony.png);
            @include size(160px, 120px);
            // -webkit-animation: attack-right 0.5s steps(4) infinite;
            animation: attack-right 0.5s steps(4) infinite;
          }
          #enemy_image {
            position: absolute;
            margin-top: 15%;
            background-image: url(../images/duck.svg);
            @include size(140px, 100px);
            // -webkit-animation: attack-left 0.5s steps(3) infinite;
            animation: attack-left 0.5s steps(3) infinite;
          }
          .reBattle {
            position: absolute;
            bottom: 20px;
            right: 40px;
            @include button-style;
          }
        }
      }
      #text_window {
        overflow: auto;
        @include black-border;
        @include size(75%, 300px);
        p {
          margin: 15px;
          @include game-font(13px)
        }
      }
    }
  }
}
@-webkit-keyframes attack-right {
  from { background-position: 0px; }
  to   { background-position: -764px; }
}
@keyframes attack-right {
  from { background-position: 0px; }
  to   { background-position: -764px; }
}

@-webkit-keyframes attack-left{
  from { background-position: -399px; }
  to   { background-position: 0px; }
}
@keyframes attack-left {
  from { background-position: -399px; }
  to   { background-position: 0px; }
}