<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Game Layout
body
  div#player
    div.player_info
      h1.name
        | Player Name
      h1.level
        | Level 1
    div.player_bar
      p.hp_bar
        | HP 100/100
      p.exp_bar
        | EXP 0/100
    div.player_equips
  div#backpack
    div#item_list
  div#gameplay
    div#screen
    div#text_box
      div#npc_name
      div#dialogue
  