doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='styles.css')
    title After Death of the World Body Pillow
  body
    h1 Sekai no shigo Dakimakura (After the death of the world Body Pillow)
    div.startbutton
      button.start(type='button') Start Game
    div.creditsbutton
      button.credits(type='button') Click This!
    script(src='/server/app.js')