doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='/styles/styles.css')
    title After Death of the World Body Pillow
  body
    #content
      #title_screen
        h1#title Sekai no Shigo Dakimakura (After the Death of the World Body Pillow)
        .startbutton
          button.start(type='button') Start Game
        .creditsbutton
          button.credits(type='button') Click This!
      #game_screen
        .row
          #player_window.medium-4.large-4.columns
            #player_info
              #_name
              #_level
              #_health
              #_exp
              #_image
                img(src="../images/Player_sihouette.png")
            #player_equipment
              #_head
              #_torso
              #_lefthand
              #_righthand
              #_legs
              #_feet
          #game_window.medium-8.large-8.columns
            #map
              img(src="../images/map2.svg")
              #subway_tunnel
              #unknown_tunnel
              #campsite
              #subway_entrance
              #my_house
              #random_house
              #temple
          #battle_window.medium-8.large-8.columns
            #player_image
            #enemy_image
        .row
          #inventory_window.medium-4.large-4.columns
          #text_window.medium-8.large-8.columns
            #_actions
              .fightAgain
                button.reBattle(type='button') Attack Again?

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    
    script(src="/scripts/main.js")

    script(src='/scripts/player_window.js')

    script(src="/scripts/Item.js")
    script(src="/scripts/ConsumableItem.js")
    script(src="/scripts/EquippableItem.js")

    script(src="/scripts/Player.js")

    script(src="/scripts/Npc.js")
    script(src="/scripts/EnemyNpc.js")

    script(src='/scripts/game_window.js')
    script(src='/scripts/inventory_window.js')
    script(src='/scripts/text_window.js')
    script(src="/scripts/Location.js")
    
    script(src="/scripts/Map.js")
    script(src="/scripts/battle_screen.js")
