doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='/styles/paw.css')
    title After Death of the World Body Pillow
  body
    div#content
      div#title_screen
        h1 Sekai no shigo Dakimakura (After the death of the world Body Pillow)
        div.startbutton
          button.start(type='button') Start Game
        div.creditsbutton
          button.credits(type='button') Click This!
    div#game_screen
      div#player_window
        
      div#inventory_window
      div#game_window
      div#text_window

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/scripts/main.js")
    script(src="/scripts/Item.js")
    script(src="/scripts/ConsumableItem.js")
    script(src="/scripts/EquippableItem.js")
    script(src="/scripts/Player.js")