@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light:400.css);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt:400.css);
body #content {
  position: fixed;
  display: block;
  top: 40%;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  body #content #title_screen h1 {
    display: none;
    font-size: 2em;
    font-family: 'Rock Salt', cursive; }
  body #content #title_screen button {
    background-color: #000;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 5px auto;
    width: 10%;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px #d3d3d3;
    font-weight: bold; }
  body #content #game_screen {
    visibility: hidden; }
body #game_screen #player_window #player_info #player_name {
  display: inline-block; }
body #game_screen #player_window #player_info #player_level {
  display: inline-block;
  padding-left: 6%; }
body #game_screen #player_window #player_info #player_health {
  padding-left: 1%; }
body #game_screen #player_window #player_info #player_exp {
  padding-left: 1%; }
body #game_screen #player_window #player_equipment #player_head {
  padding-left: 6%; }
body #game_screen #player_window #player_equipment #player_torso {
  padding-top: 3%;
  padding-left: 8%;
  padding-bottom: 4%; }
body #game_screen #player_window #player_equipment #player_righthand {
  display: inline;
  padding-right: 6%; }
body #game_screen #player_window #player_equipment #player_lefthand {
  padding-right: 6%;
  display: inline; }
body #game_screen #player_window #player_equipment #player_legs {
  padding-top: 3%; }
body #game_screen #player_window #player_equipment #player_feet {
  padding-top: 2%;
  padding-left: 3%; }

